.center{
    width: 70%;
    margin-right: auto;
    margin-left: auto;
   
}
.all_articles{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;

}
.card:hover{
    transform: scale(1.1);}
.card{
    margin-right: 20px;
    
}